<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Troli Belanja</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body>
     <!-- Nav Start -->
     <!-- Mobile Nav -->
     <nav class="navbar navbar-expand-lg sticky-lg-top nav-products d-lg-none">
        <div class="container">
          <a class="fajar-mobile ms-0 text-decoration-none fajar-products ms-4 d-lg-none" href="/">nay</a>
         <a href="" class="text-dark me-2">
             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                 <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                </svg>
            </a>
        </div> 
      </nav>
      <!-- End -->

      <!-- Desktop Nav -->
      <nav class="navbar navbar-expand-lg navbar-custom-desktop d-none d-lg-block sticky-lg-top">
        <div class="container-fluid">
          <a class="text-decoration-none fajar-products ms-4 d-lg-block d-none" href="/">nay</a>
            <div>
                <a href="" class="text-dark me-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                       </svg>
                   </a>
            </div>
          </div>
        </div>
    </nav>
      <!-- End -->
    <!-- Nav End -->
    
    {{ if eq .cart_item.Quantity 0 }}
   <!-- Cart == 0 -->
   <div class="container mb-5">
    <h6 class="text-center mt-5">Keranjang Anda Kosong</h6>
    <span class="text-center d-block mx-1">Ayo belanja untuk mengisi keranjang yang Kosong</span>
    <div class="d-flex justify-content-center mt-4">
      <a href="/c/men" class="btn btn-secondary">Ayo Belanja</a>
    </div>
  </div>
  <!-- End -->
      {{ else }}

      <!-- Mobile Cart -->
      <div class="container">
        {{ if eq .addresses.User_Id 0}}
          <form action="/dashboard/{{ .user.Id }}" method="post" class="d-block d-lg-none col-8 ms-2 border mt-3">
            <div class="row m-4">
              <div class="col">
                <input type="text" class="form-control" name="firstName" placeholder="First name" aria-label="First name">
              </div>
              <div class="col">
                <input type="text" class="form-control" name="lastName" placeholder="Last name" aria-label="Last name">
              </div>
            </div>
            <div class="row m-4">
              <div class="col-4">
                <input type="text" class="form-control" name="phone" placeholder="Nomor HP" aria-label="Nomor HP">
              </div>
            </div>
            <div class="row m-4">
              <div class="col-6">
                <input type="text" class="form-control" name="address1" placeholder="Alamat" aria-label="Alamat">
              </div>
            </div>
            <div class="row m-4">
              <div class="col">
                <input type="text" class="form-control" name="province" placeholder="Provinsi" aria-label="Provinsi">
              </div>
              <div class="col">
                <input type="text" class="form-control" name="city" placeholder="Kabupaten" aria-label="Kabupaten">
              </div>
            </div>
            <div class="row m-4">
              <div class="col">
                <input type="text" class="form-control"name="subdistrict" placeholder="Kecamatan" aria-label="Kecamatan">
              </div>
              <div class="col">
                <input type="text" class="form-control" name="postCode" placeholder="Kode Pos" aria-label="Kode Pos">
              </div>
            </div>
            <div class="row m-4">
              <div class="col">
            <button type="submit" class="btn btn-secondary">Tambah Alamat</button>
              </div>
            </div>
          </form>
          {{ else }}
          <div class="col-8 ms-2 border border-top-0 mt-3 d-lg-none d-block">
            <div class="bg-secondary text-center pe-2 py-2"> Alamat Saya </div>
            <hr class="mx-4 my-3">
            <div class="fs-6 fw-medium text-secondary p-2 ms-3">Alamat</div>
            <div class="fw-lighter p-2 ms-3">{{ .addresses.Firstname }} {{ .addresses.Lastname }}, {{ .addresses.Phone }}</div>
            <div class="fw-lighter p-2 ms-3 mb-5">{{ .addresses.Address1 }}, {{ .addresses.Subdistrict }}, {{ .addresses.City }}, {{ .addresses.Province}},{{ .addresses.Postcode }} </div>
          </div>
          {{ end }}

      </div>
       <!-- Desktop Cart -->
    <section class="h-100 d-lg-block d-none">
      <form action="/cart" method="post">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12">
              <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                <div class="card-body p-0">
                  <div class="row g-0">
                    <div class="col-lg-8">
                      <div class="p-5">
                        <div class="d-flex justify-content-between align-items-center mb-5">
                          <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                        </div>
                        <hr class="my-4">
                        {{ range $i,$carts := .cart_items }}
                        {{ range $j, $product := $carts.Products }}
                        <div class="row mb-4 d-flex justify-content-between align-items-center">
                          <div class="col-md-2 col-lg-2 col-xl-2">
                            <img
                              src="https://source.unsplash.com/640x800/?{{ $product.Name }}"
                              class="img-fluid rounded-3" alt="Cotton T-shirt">
                          </div>
                          <div class="col-md-3 col-lg-3 col-xl-3">
                            <h6 class="text-muted">{{ $carts.Quantity }} Items</h6>
                            <h6 class="text-black mb-0">{{ $product.Name }}</h6>
                          </div>
                          <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                            <button class="btn btn-link px-2"
                              onclick="this.parentNode.querySelector('input[type=number]').stepDown()">                     
                            </button>
                            
                              <input id="form1" min="0" name="quantity" max="{{ $product.Quantity }}" value="{{ $carts.Quantity }}" type="number"
                              class="form-control form-control-sm" />      
                              <button class="btn btn-link px-2" type="submit"
                              onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                              <i class="fas fa-plus"></i>
                            </button>
                          </div>
                          <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                            <h6 class="mb-0">Rp {{ $carts.Base_Price }}</h6>
                          
                          </div>
                        </div>
                        {{ end }}
                        {{ end }}
                        <hr class="my-4">
                      </div>
                    </div>
                  </form>      
                  
                    <div class="col-lg-4 bg-grey">
                      <div class="p-5">
                        <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                        <hr class="my-4">
      
                        <div class="d-flex justify-content-between mb-4">
                          <h5 class="text-uppercase">items {{ .cart_item.Quantity }}</h5>
                          <h5>Rp {{.cart_item.Base_Price }}</h5>
                        </div>     
                        <h5 class="text-uppercase mb-3">Shipping</h5>                       
                        <div class="mb-4 pb-2">
                          <select class="select">
                            <option value="1">Standard-Delivery- €5.00</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                            <option value="4">Four</option>
                          </select>
                        </div>
      
                        <h5 class="text-uppercase mb-3">Give code</h5>
                        
                        <div class="mb-5">
                          <div class="form-outline">
                            <input type="text" id="form3Examplea2" class="form-control form-control-lg" />
                            <label class="form-label" for="form3Examplea2">Enter your code</label>
                          </div>
                        </div>
                        
                        <hr class="my-4">
      
                        <div class="d-flex justify-content-between mb-5">
                          <h5 class="text-uppercase">Total price</h5>
                          <h5>Rp {{ .cart_item.Base_Price }} </h5>
                        </div>     
                        <button type="submit" class="btn btn-dark btn-block btn-lg"
                        data-mdb-ripple-color="dark">Checkout</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      </section>
      <!-- End -->
      {{ end }}
      <!-- Kamu mungkin suka produk start -->
        <!-- Mobile -->
        <div class="promo text-center mt-4 d-lg-none">
            Kamu Mungkin Suka Produk Ini
            </div>
            <div class="container text-center d-lg-none">
              <div class="row flex-nowrap overflow-auto mx-1 mt-4 mb-5">
                {{ range $,$discountedProduct := .discountedProduct }}
                  <div class="col">
                      <a href="/p/{{ $discountedProduct.Slug }}">
                          <img src="https://source.unsplash.com/540x406/?doll" class="rounded-end products-mobile">
                      </a>
                      <p class="selling mb-1">{{ $discountedProduct.Name }}</p>
                      <p class="selling mb-1 text-danger">Rp {{ $discountedProduct.DiscountedPrice }}</p>
                      <p class="selling"><del>Rp {{ $discountedProduct.Price }}</del></p>
                  </div>
                  {{ end }}
              </div>
          </div>
            <!-- End Mobile -->
            <!-- Desktop -->
             <h3 class="text-center d-lg-block d-none mb-4">Kamu Mungkin Suka Produk Ini</h3>
               <div class="container d-lg-flex d-none align-items-start mb-5 overflow-auto">   
                 {{ range $i,$product := .products }}     
                 <div class="product-item">
                  <a href="/p/{{ $product.Slug }}" class="text-decoration-none text-dark">
                    <img src="https://source.unsplash.com/540x406/?{{ $product.Name }}" class="products" alt="...">
                    <p class="fs-6 fw-bold mb-0">{{ $product.Name }}</p>
                    <p class="fs-6 fw-light mb-1">{{ $product.Description }}</p>
                    <p class="mb-1 fw-medium">Rp {{ $product.Price }}</p>
                  </a>
                  <a href="/p/{{ $product.Slug }}"> <button class="btn btn-primary">Detail Product</button></a>             
              </div>
              {{ end }}
          </div>
            <!-- End Desktop -->
            <!-- End -->    

            {{ template "footer.html" }}

<!-- Footer Mobile Start -->
<div class="text-center mt-2 align-items-end d-lg-none bottom-0 overflow-hidden left-0 w-100">
  <div class="row align-items-end border-top mb-2 p-1">
    <div class="col">
     <a href="/contact" class="text-decoration-none mobile-footer text-dark">
       Kontak
     </a> 
    </div>
    <div class="col">
      <a href="/about" class="text-decoration-none text-dark mobile-footer">
        About Me
      </a>
    </div>
    <div class="col">
      {{ if .Auth }}
      <a href="/logout" class="text-decoration-none text-dark mobile-footer">
        Logout
      </a>
      {{ else }}
      <a href="/login" class="text-decoration-none text-dark mobile-footer">
        Login
      </a>
      {{ end }}
    </div>
  </div>
  <div class="row align-items-end border-top border-bottom mb-3 p-2">
    <div class="col">
      <a href="/support" class="text-decoration-none text-dark mobile-footer">
        Bantuan
      </a>
    </div>
    <div class="col">
      <a href="/term-of-us" class="text-decoration-none text-dark mobile-footer">
      Syarat Dan Ketentuan
    </a>
    </div>
    <div class="col">
      <a href="/privacy-policy" class="text-decoration-none text-dark mobile-footer">
        Kebijakan Privasi
      </a>
    </div>
  </div>
  <div class="row align-items-end mb-1">
    <div class="col">
      <a href="/" class="text-dark">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
          <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
        </svg>
      </a>
    </div>
    <div class="col">
      <a href="/cart" class="text-dark">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
          <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
        </svg>
      </a>
    </div>
    <div class="col">
      <a href="/whishlist" class="text-dark">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
          <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
        </svg>
      </a>
    </div>
    <div class="col">
      {{ if .Auth }}
      <a href="/dashboard/{{ .user.Id }}" class="text-dark">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
          <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
        </svg>
      </a>
      {{ else }}
      <a href="/login" class="text-dark">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
          <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
        </svg>
      </a>
      {{ end }}
    </div>
  </div>
  </div>
  <!-- Footer Mobile End -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>